<%# local: question %>
<div class="well well-sm question-well">
<h4>
  <%= question.title %>
</h4>

<p>
  <strong>Description:</strong>
  <%= question.description %>
</p>
<h3> Answers </h3>
<ul>
<% question.answers.each do |a| %>
  <li><%=render partial: 'answers/view',:locals => {:answer => a} %></li>
<%end%>
</ul>
<%= link_to 'Edit', edit_test_question_path(question.test,question) , :class => 'btn btn-success'%><br>
</div>