<div class="row">
	<div class="col-md-3">
	 <%= link_to user.name, user if user.name %>
	</div>
	<div class="col-md-3">
		<%= link_to user.email, user if user.email %>
	</div>
	<div class="col-md-3">
		<%= link_to user.institute if user.institute and current_user.admin? %>
	</div>
	<div class="col-md-3">
		<%= user.role %>
	</div>
</div>