<%# local: answer %>

  <%= answer.text %>
<% if answer.correct %><span class="correct-answer"><i class="mdi-toggle-check-box"></i></span><%end%>
	<div class="img-qaa2"><%= image_tag answer.image if answer.image %></div>