<div class="well">
<h1>Listing Categories<span class="pull-right"><%= link_to new_category_path do %><button class="btn btn-fab btn-raised btn-success"><i class="mdi-content-add"></i></button><%end%></span></h1><br>


    <div class="row nolink">
    <% @categories.each do |category| %>
      <%=link_to category do %>
      <div class="col-md-3 col-sm-6 col-xs-12">
        <div class="well">
        <h5>
        <b>Name:</b><%= category.title %><br><br>
        <b>Package:</b><div class="linkblue"><%=link_to category.package.name,category.package if category.package%></div>
        </h5>
        </div>
      </div>
      <%end%>
    <% end %>
    </div>

</div>


<script>
$(document).ready(function() {
    var x=$('.row');
    $.each(x, function() {
        var max=0;
        $.each($(this).find('div[class^="col-"]'), function() {
            if($(this).height() > max)
                max=$(this).height();
        });
        $.each($(this).find('div[class^="col-"]'), function() {
            $(this).height(max);
        });
    });
});

</script>