<h1>All Tests
<span class="pull-right"><%= link_to new_test_path do %><button class="btn btn-fab btn-raised btn-success"><i class="mdi-content-add"></i></button><%end%></span></h1>
<br>
    <div class="row">
      <% @tests.each do |test| %>
        <%=render partial: 'tests/view',:locals => {:test => test} %>
      <% end %>
    </div>

<br>

