<h1>All Tests
<span class="pull-right">
  <%= link_to 'New Test', new_test_path, :class => 'btn btn-success' %></span></h1>
<br>
    <div class="row">
      <% @tests.each do |test| %>
        <%=render partial: 'tests/view',:locals => {:test => test} %>
      <% end %>
    </div>

<br>

