<div class="row well well-lg">
<% @tests.each do |test| %>
<%=render partial: 'tests/student_view', locals: {test: test} %>
<%end%>
</div>

<script>
$(document).ready(function() {
    var x=$('.row');
    $.each(x, function() {
        var max=0;
        $.each($(this).find('div[class^="col-"]'), function() {
            if($(this).height() > max)
                max=$(this).height();
        });
        $.each($(this).find('div[class^="col-"]'), function() {
            $(this).height(max);
        });
    });
});

</script>